@model OrganizationVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationForm.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationForm.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationForm.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationForm.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationForm.Work)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationForm.Work)
        </dd>
        
        <dt class="col-sm-2">
            <label class="control-label" > Employees  </label>
        </dt>
        <dd  class="col-sm-10" >
            @foreach (var item in Model.OrganizationForm.EmployeeIds)
           {
        <li>@Model.OrgComponents.EmployeeList.Where(x => x.Value == item.ToString()).SingleOrDefault().Text</li>
              }
          </dd>
    </dl>
  


    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrganizationForm.Id">Edit</a> |
    <a asp-action="Organizations">Back to List</a>
</div>
